hostname {{ obj.name }}

{% for interface in obj.interfaces.all() %}
interface {{ interface.name }}
{% set ip = interface.ip_addresses.first %}
{% if ip %}
 ip address {{ ip.address }}
{% else %}
 no ip address
{% endif %}
{% if interface.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% endfor %}
