hostname {{ obj.name }}

{% for interface in obj.interfaces.all %}
interface {{ interface.name }}
{% if interface.ip_addresses %}
 ip address {{ interface.ip_addresses.0.address }}
{% else %}
 no ip address
{% endif %}
{% if interface.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% endfor %}
