hostname {{ obj.name }}

{% for interface in obj.interfaces.all %}
interface {{ interface.name }}
{% set ips = interface.ip_addresses.all() %}
{% if ips %}
 ip address {{ ips[0].address }}
{% else %}
 no ip address
{% endif %}
{% if interface.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% endfor %}
